html, body{
    height: 100%;
}
body{
    display: flex;
}
.menu-button{
    width: 100px;
    height: 50px;
    background-color: white;
    margin: 30px;
    padding-top: 60px;
}

 
aside{
    display: flex;
    flex-direction: column; /* Eigenlijk onnodig want bij elke div waarbij je de display op flex zet staat flex-direction al op row */
    width: 18%;
    height: 100%;
    background-color: green;
}

main{
    display: flex;
    flex-direction: column; /* Eigenlijk onnodig want bij elke div waarbij je de display op flex zet staat flex-direction al op row */
    width: 100%;
    height: 100%;
    background-color: orange;
    align-items: center;
}

.kop{
    width: 1500px;
    height: 250px;
    background-color: white;
    margin: 10px;
}
img{
    margin-top:20px;
    width: 200px;
    height: 200px;
    margin-left: 40px;
}

